

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(134, 150, 253);
    padding: 1rem;
}

.navbar_brand {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    align-items: center;
}

.navbar_menu {
    display: flex;
    justify-content: space-around;
}

.navbar_item {
    margin-left: 1.5rem;
}

.img{
    height: 60px;
    width: 60px;
}

.a{
    text-decoration: none;
}

.frase{
    font-size: 20px;
    margin:16px;
}